1.1 Write a Python Program to implement your own myreduce() function which works exactly
like Python's built-in function reduce()

In [1]:
l=[1,2,3,4,5,"jayesh","shekhada"]
def myreduce(fun,l):
  """This function will work ecxatly same as in-built Python function reduce()"""
  c=fun(l[0],l[1])
  for i in range(2,len(l)):
    c=fun(c,l[i])
  return c
(myreduce(lambda a,b:str(a)+str(b), l))

'12345jayeshshekhada'

1.2 Write a Python program to implement your own myfilter() function which works exactly
like Python's built-in function filter()

In [3]:
l=[1,2,3,4,5,"jayesh","shekhada"]
def myfilter(filter_condtn,l):
  """This function works exactly like Python's built-in function filter()"""
  for i in l:
    if filter_condtn(i):
      return filter_condtn(i)

print(myfilter(lambda a: a if type(a)==str and a[0]=="s" else False, l))
list(filter(lambda a: a if type(a)==str and a[0]=="s" else False, l))

shekhada

['shekhada']

2. Implement List comprehensions to produce the following lists.
Write List comprehensions to produce the following Lists
['A', 'C', 'A', 'D', 'G', 'I', ’L’, ‘ D’]
['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']
['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']
[[2], [3], [4], [3], [4], [5], [4], [5], [6]] [[2, 3, 4, 5], [3, 4, 5, 6],
[4, 5, 6, 7], [5, 6, 7, 8]]
[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

['A', 'C', 'A', 'D', 'G', 'I', 'L', 'D']

In [ ]:
l=[]
for x in "acadgild":
  l.append(x.upper())
l

['A', 'C', 'A', 'D', 'G', 'I', 'L', 'D']

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [ ]:
s1="xyz"
l1=[]
for i in s1:
  for y in range(1,5):
    l1.append(y*i)
l1

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [ ]:
s2="xyz"
l2=[]
for i in range(1,5):
  for y in s2:
    l2.append(y*i)
l2

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [ ]:
l2=[]
for i in range(2,5):
  for y in range(i,i+3):
    l2.append([y])
l2

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [ ]:
l4=[]
for i in range(2,6):
  l3=[]
  for y in range(i,i+4):
    l3.append(y)
  l4.append(l3)
l4

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [ ]:
l5=[]
for i in range(1,4):
  for y in range(1,4):
    l5.append((y,i))
l5

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]